#Исключим директории:
/node_modules/*
.idea/
tmp/
app/buildcss/

# файлы
.env
.htaccess
access.md
node_modules
css/style.css
index.html
# исключить лишние файлы bootstrap css - всё есть в одном style.css
bootstrap-grid.css
bootstrap-reboot.css
bootstrap.css

