html, body {
  height: 100%;
}

body {
  background-color: #F7C119;
}

.btn-primary {
  color: #000000 !important;
  background-color: #F7C119;
  border-color: #A17B08;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #F7C119;
  border-color: #A17B08;
  -webkit-box-shadow: 0 0 0 0.2rem #FBDD7F;
          box-shadow: 0 0 0 0.2rem #FBDD7F;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #F7C119;
  border-color: #A17B08;
}

.btn-primary:focus {
  background-color: #F7C119;
  border-color: #A17B08;
  -webkit-box-shadow: 0 0 0 0.2rem #FBDD7F;
          box-shadow: 0 0 0 0.2rem #FBDD7F;
}

.btn-secondary {
  color: #FFFFFF !important;
  background-color: #000000;
  border-color: #000000;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #000000;
  border-color: #000000;
  -webkit-box-shadow: 0 0 0 0.2rem #FBDD7F;
          box-shadow: 0 0 0 0.2rem #FBDD7F;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:focus {
  background-color: #000000;
  border-color: #000000;
  -webkit-box-shadow: 0 0 0 0.2rem #FBDD7F;
          box-shadow: 0 0 0 0.2rem #FBDD7F;
}

.bg-primary {
  background-color: #F7C119 !important;
}

.bg-dark {
  background-color: #000000 !important;
}

@media (max-width: 991.98px) {
  .bg-yellow-md {
    background-color: #F7C119;
  }
}

.text-warning {
  color: #F7C119 !important;
}

.text-dark {
  color: #000000 !important;
}

/* Remove outline on the forms and links */
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: x-large;
  }
}

.screen-first {
  background-image: url(../assets/minsk.jpg);
  height: 451px;
}

.screen-profit {
  background-image: url(../assets/profit.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.screen-drivers {
  background-image: url(../assets/drivers.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.main-phone {
  font-size: xx-large;
}

.screen-first__taxi-car {
  max-width: 723px;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-md-6-sm-8 {
  margin-top: 6rem;
}

@media (max-width: 767.98px) {
  .mt-md-6-sm-8 {
    margin-top: 8rem;
  }
}

.mt-12 {
  margin-top: 12rem;
}

.mt-8 {
  margin-top: 20rem;
}

.mt-md-20-sm-7 {
  margin-top: 20rem;
}

@media (max-width: 767.98px) {
  .mt-md-20-sm-7 {
    margin-top: 7rem;
  }
}

.pt-md-7-sm-4 {
  padding-top: 7rem;
}

@media (max-width: 767.98px) {
  .pt-md-7-sm-4 {
    padding-top: 1.5rem;
  }
}

.pt-md-4-sm-1-5 {
  padding-top: 4rem;
}

@media (max-width: 767.98px) {
  .pt-md-4-sm-1-5 {
    padding-top: 1.5rem;
  }
}

.screen-questions .card-img {
  width: 200px !important;
}

.social-icon {
  width: 20px;
}

.border-warning {
  border-color: #F7C119 !important;
}

.bg-dark-op {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: 0;
}

.navbar-collapse {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.scroll-to-form-btn {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767.98px) {
  .scroll-to-form-btn {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}

@use postcss-nested;
.navbar-toggler-icon {
  width: 50px;
  height: 50px;
}

.burger_input {
  display: none;
}

.burger_label {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  max-width: 150px;
  max-height: 150px;
}

@media (min-aspect-ratio: 1 / 1) {
  .burger_label {
    width: 30px;
    height: 30px;
  }
}

path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

circle {
  fill: #fff3;
  opacity: 0;
}

.burger_label:hover circle {
  opacity: 1;
}

.burger_cross input:checked + svg .line--1,
.burger_cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.burger_cross input:checked + svg .line--2 {
  --length: 0;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
  --length: 8.602325267;
}

.burger_menu--1 {
  background-color: #3f77e9;
}

.burger_menu--1 .line--1,
.burger_menu--1 .line--3 {
  --total-length: 126.64183044433594;
}

.burger_menu--1 .line--2 {
  --total-length: 70;
}

.burger_menu--1 input:checked + svg .line--1,
.burger_menu--1 input:checked + svg .line--3 {
  --offset: -94.1149185097;
}

.burger_menu--1 input:checked + svg .line--2 {
  --offset: -50;
}

.custom-range::-webkit-slider-thumb {
  background: #F7C119;
}

.custom-range::-webkit-slider-thumb:hover {
  background: #F7C119;
}

.custom-range::-moz-range-thumb {
  background: #F7C119;
}

.custom-range::-ms-thumb {
  background: #F7C119;
}

@media (max-width: 767.98px) {
  .card-title {
    font-size: 1.0rem;
  }
}

@media (max-width: 767.98px) {
  .card-deck .card {
    margin: 8px;
  }
}

.slick-prev:before, .slick-next:before {
  color: #000000;
}

.minh-232 {
  min-height: 232px;
}

@media (max-width: 767.98px) {
  .card-text {
    font-size: .8rem;
  }
}
