<!doctype html>
<html lang="ru">
<% include blocks/head.ejs %>

<body class="d-flex flex-column flex-nowrap m-0">
    <main class="flex-shrink-0">
        <% include blocks/nav.ejs %>
        <!-- Главный экран -->
        <% include blocks/first-screen.ejs %>
        <!-- Текст и контактная форма с анкетой для соискателя -->
        <div class="container mt-md-20-sm-7 pt-5">
            <div class="row">
                <div class="col-md-6">
                    <% include blocks/text-near-form.ejs %>
                </div>
                <div class="col-md-6">
                    <% include blocks/form.ejs %>
                </div>
            </div>
        </div>
        <!-- Карусель с доступными службами такси -->
        <% include blocks/services.ejs %>
        <!-- Приемущества сотрудничества с перевозчиков KJ-GROUP -->
        <% include blocks/achiev.ejs %>
        <!-- Ответы на популярные вопросы -->
        <% include blocks/answers.ejs %>
        <!-- Водители в команде... ну, типа))) -->
        <% include blocks/drivers.ejs %>
        <!-- ещё блок с текстом и кнопкой на форму -->
        <% include blocks/text-under-footer.ejs %>
    </main>
    <% include blocks/footer.ejs %>
    <!-- подключаемый скрипты -->
    <% include blocks/scripts.ejs %>
</body>

</html>