<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Оформление на службы такси города Минска через официального перевозчика">
    <meta name="keywords" content="такси, работа, вакансия, перевозчик, 135, 7900, 7788, яндекс, uber">
    <meta name="author" content="KJ-TAXI">
    <meta name="theme-color" content="#000000">

    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Slick slider style with the jsDelivr CDN -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>Работа водителем такси в Минске</title>

</head>
<body class="d-flex flex-column flex-nowrap m-0">
<main class="flex-shrink-0">
    <% include blocks/header.ejs %>
    <!-- Главный экран -->
    <div class="container-fluid screen-first">
        <!--<div class="fade-img position-absolute w-100"></div>-->
        <div class="row align-items-center justify-content-center flex-column position-relative">
            <h1 class="mt-md-6-sm-8 text-center p-2 text-warning">Зарабатывай в такси от 1200 рублей в месяц!</h1>
            <a class="text-white font-weight-bold main-phone p-2 " href="tel:+375293917716"> +375 29 391-77-16 </a>
            <h2 class="lead text-white text-center p-2">Звони! Получишь помощь с оформлением и скоро начнёшь
                зарабатывать хорошие деньги!</h2>
            <img class="screen-first__taxi-car w-100 mb-2 p-2" src="assets/taxi-car.png" alt="желтый автомобиль такси">
        </div>
    </div>
    <!-- Текст и контактная форма с анкетой для соискателя -->
    <div class="container mt-md-20-sm-7 pt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-uppercase bg-yellow-md">Лучшие условия в городе</h2>
                <h3 class="text-uppercase bg-yellow-md">Заполни анкету и приступай к работе</h3>
                <p>Достойный заработок, где ты решаешь сколько ты можешь заработать.
                    Всегда чёткая и понятная зависимость вложенных усилий и количества полученных денег.
                    Никаких испытательных сроков и обучающих курсов — садишся за руль и начинаешь зарабатывать!
                    Все бумажные работы, договора и налоги берёт на себя перевозчик, тебе остаётся только возить людей и
                    считать деньги.
                    <br> Заполняй анкету и твой график работы будет зависеть только от тебя! </p>
            </div>
            <div class="col-md-6">
                <!-- начало: Форма заявки -->
                <form class="bg-white mb-5" id="form_profile" oninput="formExperience.value=parseInt(form_experience.value)" method="POST" action="http://kj-taxi.by/">
                    <fieldset class="">
                        <legend class="bg-dark text-white p-3">Анкета водителя</legend>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-6">
                                <label for="form_name" class="m-0">Имя</label>
                                <input type="text" class="form-control" id="form_name" placeholder="Jason" name="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_surname" class="m-0">Фамилия</label>
                                <input type="text" class="form-control" id="form_surname" placeholder="Statham" name="surname" required>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-6">
                                <label for="form_middlename" class="m-0">Отчество</label>
                                <input type="text" class="form-control" id="form_middlename" placeholder="Barrysowich" name="middlename">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_birthday" class="m-0">Дата рождения</label>
                                <input type="date" class="form-control" id="form_birthday" value="1967-07-26" name="birthday" min="1960-01-01" max="2007-12-31" required>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-6">
                                <label for="form_region" class="m-0">Место проживания</label>
                                <select id="form_region" class="form-control" name="region">
                                    <option selected>Минская обл.</option>
                                    <option>Витебская обл.</option>
                                    <option>Могилёвская обл.</option>
                                    <option>Гомельская обл.</option>
                                    <option>Брестская обл.</option>
                                    <option>Гродненская обл.</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_locality" class="m-0">город/поселок</label>
                                <input type="text" class="form-control" id="form_locality" placeholder="д. Великая Борздынь" name="locality" required>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-12">
                                <label for="form_experience" class="m-0">Стаж вождения, полных лет :</label>
                                <output class="font-weight-bold" name="formExperience" for="form_experience">5</output>
                                <input type="range" class="custom-range" min="1" max="10" step="1" id="form_experience" value="5" name="experience">
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-6">
                                <label for="form_carbrand" class="m-0">Марка и модель автомобиля</label>
                                <input type="text" class="form-control" id="form_carbrand" placeholder="Audi A8 6.0 W12" name="carbrand" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_caryear" class="m-0">год выпуска</label>
                                <input type="number" class="form-control" id="form_caryear" min="2010" step="1" name="caryear" required>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-6">
                                <label for="form_name" class="m-0">email</label>
                                <input type="email" class="form-control" id="form_email" placeholder="transporter@kj-group.com" name="email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_surname" class="m-0">телефон</label>
                                <input type="number" class="form-control" id="form_phone" placeholder="+375 29 391-77-16" name="phone" required>
                            </div>
                        </div>
                        <div class="form-row pl-3 pr-3">
                            <div class="form-group col-md-12">
                                <label for="form_comment" class="m-0">Комментарий к анкете</label>
                                <textarea class="form-control" id="form_comment" rows="3" placeholder="Если есть предпочтения по службам такси, укажи это в комментарии" name="comment"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-secondary btn-block rounded-0">Отправить анкету</button>
                    </fieldset>
                </form>
                <!-- конец: Форма заявки -->
            </div>
        </div>
    </div>
    <!-- Карусель с доступными службами такси -->
    <div class="container-fluid bg-white pb-5" id="services">
        <div class="row flex-column align-items-center">
            <h2 class="mt-5 mb-5 text-center">Выбор службы такси за тобой</h2>
            <div class="container">
                <!-- Слайдер со службами такси -->
                <div class="carousel_taxi-services w-100 card-deck">
                    <div class="card border-0">
                        <img src="assets/logo/stolica.jpg" class="card-img-top" alt="stolica">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">Такси «Столица 135»</h3>-->
                            <p class="card-text">Основана в 2002 году. Более 15 000 заказов в день. Лояльные пассажиры. Удобная программа приема заказов.<br><b>Минимальная поездка 4,50 BYN</b></p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/almaz.jpg" class="card-img-top" alt="almaz">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">Такси «Алмаз 7788»</h3>-->
                            <p class="card-text">Основана в 2010 году. Сервис широко разрекламирован на ведущих телеканалах, радиостанциях и билбордах.<br><b>Минимальная поездка 4,49 BYN</b></p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/comandir.jpg" class="card-img-top" alt="comandir">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">Такси «Командир 7900»</h3>-->
                            <p class="card-text">Основана в 2013 году. Уверено завоевала города-спутники, служба работает в Дзержинске, Фаниполе, Лиде, Столбцах и т.д. Удобное рабочее приложение.<br><b>Минимальная поездка 3,50 BYN</b></p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/yandex-taxi.jpg" class="card-img-top" alt="yandex-taxi">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">Яндекс.Такси</h3>-->
                            <p class="card-text">Основана в 2011 году. Более 40 000 заказов в день. Самая динамично развиваемая служба. Разные уровни заказов от Эконома до Бизнеса.<br><b>Минимальная поездка 3,30 BYN</b></p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/yandex-gruz.jpg" class="card-img-top" alt="yandex gruzovoi">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">Яндекс.Такси</h3>-->
                            <p class="card-text">Новый сервис — Яндекс.Грузовой. <br/> Требования:<br/> Автомобиль не старше 2005 года.<br/> Грузовой отсек: от 260х160х150 см.<br/> Грузоподъёмность: до 3,5 тонн.<br/> Минимум два пассажирских места.<br/> <b>Бонусы и скидки первым водителям.</b> </p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/uber.jpg" class="card-img-top" alt="uber">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">Uber</h3>-->
                            <p class="card-text">Основана в 2009 году. Компания работает более чем в 76 странах и 596 городах мира. С 2017 года Яндекс.Такси и Uber подписали соглашение об объединении бизнеса и сервисов по онлайн-заказу такси в России, Азербайджане, Армении, Белоруссии, Грузии и Казахстане.</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/euro-taxi.jpg" class="card-img-top" alt="euro-taxi">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">EuroTaxi</h3>-->
                            <p class="card-text">Основана в 2018 году и успешно набирает обороты. «ЕвроТакси» — это высокий уровень сервиса, безопасности и комфорта.<br><b>Минимальная поездка 4,50 BYN</b></p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/v10.jpg" class="card-img-top" alt="v desyatku">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">NextApp</h3>-->
                            <p class="card-text">Молодая и весьма активно развиваемая служба резво захватила город. Сервис автоперевозок «В ДЕСЯТКУ» предлагает всегда, открытый и заранее известный тариф.<br><b>В любую точку города – 10 BYN</b></p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="assets/logo/armi.jpg" class="card-img-top" alt="armi">
                        <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                            <!--<h3 class="card-title pt-md-4-sm-1-5">NextApp</h3>-->
                            <p class="card-text">Новый сервис в городе. Больше чем служба такси. Доставка, трезвый водитель, такси, трансфер, помощь на дороге. Активно развивается и быстро набирает известность среди пассажиров.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Приемущества сотрудничества с перевозчиков KJ-GROUP -->
    <div class="container-fluid screen-profit" id="conditions">
        <div class="row">
            <h2 class="mx-auto text-center text-white mb-5 mt-5">Выгодня сделка — комфортные условия!</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li class="d-flex flex-wrap mb-5">
                            <img width="150" height="150" src="assets/fontawesome/sticky-note-regular.svg" class="mr-3 col-md-3" alt="sticker">
                            <div class="media-body col-md-9">
                                <h3 class="mt-0 mb-1 text-warning">Бесплатная оклейка авто</h3>
                                <p class="text-white">Наша компания не только поможет выбрать тип оклейки вашего автомобиля, но и полностью возместит ее стоимость.</p>
                            </div>
                        </li>
                        <li class="d-flex flex-wrap mb-5">
                            <img width="150" height="150" src="assets/fontawesome/id-card-regular.svg" class="mr-3 col-md-3" alt="document">
                            <div class="media-body col-md-9">
                                <h3 class="mt-0 mb-1 text-warning">Официальное оформление</h3>
                                <p class="text-white">Только в нашей компании вы получаете официальное трудоустройство и Декрет президента №1 вас не коснется. </p>
                            </div>
                        </li>
                        <li class="d-flex flex-wrap mb-5">
                            <img width="150" height="150" src="assets/fontawesome/hands-helping-solid.svg" class="mr-3 col-md-3" alt="help">
                            <div class="media-body col-md-9">
                                <h3 class="mt-0 mb-1 text-warning">Помощь от опытных водителей</h3>
                                <p class="text-white">В нашей компании работают опытные водители, которые круглосуточно помогут с форс-мажорной ситуацией. Вливайся в команду!</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li class="d-flex flex-wrap mb-5">
                            <img width="150" height="150" src="assets/fontawesome/search-dollar-solid.svg" class="mr-3 col-md-3" alt="search-dollar">
                            <div class="media-body col-md-9">
                                <h3 class="mt-0 mb-1 text-warning">Выгодные условия</h3>
                                <p class="text-white">Самые лучшие условия в городе. 50 % скидка на мойку вашего автомобиля. Никаких скрытых платежей и штрафов, все прозрачно и честно, мы ценим наших водителей. Наша компания является официальным партнером Яндекс.Такси, что обеспечивает минимальные комиссии.</p>
                            </div>
                        </li>
                        <li class="d-flex flex-wrap mb-5">
                            <img width="150" height="150" src="assets/fontawesome/wallet-solid.svg" class="mr-3 col-md-3" alt="wallet">
                            <div class="media-body col-md-9">
                                <h3 class="mt-0 mb-1 text-warning">Без дополнительных вложений</h3>
                                <p class="text-white">Наша компания предоставляет все необходимое оборудование для работы в такси. С вашей стороны абсолютно никаких лишних вложений. Все затраты на себя берет компания.</p>
                            </div>
                        </li>
                        <li class="d-flex flex-wrap mb-5">
                            <img width="150" height="150" src="assets/fontawesome/comments-dollar-solid.svg" class="mr-3 col-md-3" alt="comments-dollar">
                            <div class="media-body col-md-9">
                                <h3 class="mt-0 mb-1 text-warning">Бонусы и акции</h3>
                                <p class="text-white">В нашей компании предоставляется бонус в размере 50 рублей за приведенного друга. А так же много приятных выплат на значимые для вас даты. Так же каждые полгода проводится розыгрыш для водителей, призы вас приятно удивят.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-white screen-questions">
        <div class="row">
            <h2 class="mx-auto text-center mb-5 mt-5">Ответы на вопросы</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="card mb-3 col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-3 d-flex justify-content-center align-items-start">
                            <img src="assets/earnings.svg" class="card-img  p-4" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Сколько можно заработать водителем в Минске?</h5>
                                <p class="card-text">Заработок водителем такси зависит сугубо от вас и ваших трудозатрат. Средний заработок в месяц составляет порядка 1500 рублей.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                            <img src="assets/taxes.svg" class="card-img  p-4" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Как считать и платить налоги?</h5>
                                <p class="card-text">Вам не нужно думать об уплате налогов, все на себя берет наша компания. Все платежи фиксированы и не увеличиваются.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                            <img src="assets/taxi-car.svg" class="card-img  p-4" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Какой нужен автомобиль для работы в такси?</h5>
                                <p class="card-text">Требования к автомобилю просты: от 2000 года выпуска, хорошее состояние, 4 или 5 дверей. Машины старше 2000 года рассматриваются в индивидуальном порядке.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                            <img src="assets/choose-service.svg" class="card-img  p-4" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Как выбрать службу такси?</h5>
                                <p class="card-text">Если вы затрудняетесь с выбором службы такси, наши профессионалы вам помогут определится, исходя из ваших пожеланий.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid screen-drivers">
        <div class="row">
            <h2 class="mx-auto text-center text-white mb-5 mt-5">Водите работающие с KJ-Group — наша команда!</h2>
        </div>
        <div class="container">
            <div class="row pb-5">
                <div class="col-md-6">
                    <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/man1.jpg" class="card-img p-4" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Даниэль Моралес</h5>
                                    <p class="card-text">Бросил работу доставщика пиццы, ради того чтобы осуществить
                                        свою давнюю мечту — стать водителем такси — Peugeot 406, способного развивать
                                        бешеную скорость. </p>
                                    <p class="card-text">
                                        <small class="text-muted">Сами Насери, "Такси"</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/man2.jpg" class="card-img p-4" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Трэвис Бикл</h5>
                                    <p class="card-text">Одинокий 26-летний мужчина, служил в морской пехоте. Страдая от
                                        хронической бессонницы, устраилс работать ночным таксистом в Нью-Йорке.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Роберт Де Ниро, "Таксист"</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/man3.jpg" class="card-img p-4" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Корбен Даллас</h5>
                                    <p class="card-text">Увяз в проблемах своей личной жизни и финансовых
                                        неурядицах.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Брюс Уиллис, "Пятый элемент"</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/man4.jpg" class="card-img p-4" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Лёлик</h5>
                                    <p class="card-text">Лёлик под видом таксиста перехватывает Горбункова и везёт его
                                        якобы в Дубровку, куда тот собрался к жене и детям.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Анатолий Папанов, "Бриллиантовая рука"</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/man5.jpg" class="card-img p-4" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Анфиса Чехова</h5>
                                    <p class="card-text">Не сильно ориентируюсь по городу. Поэтому мой первый вопрос к
                                        пассажирам будет: «Дорогу покажешь?»</p>
                                    <p class="card-text">
                                        <small class="text-muted">Анфиса Чехова в День такси</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mx-auto text-center mb-5 mt-5 text-dark">Присоединяйся к KJ-Group и получи лучшую поддержку в
                    новой работе!</h2>
                <p class="text-center mb-5">Уже работаешь в другой службе такси, но хочешь поменять? Подключим тебя куда пожелаешь. Далее выбор за тобой, работать на личном автомобиле или на автомобиле компании. Подключение производится дистанционно, просто заполняй анкету и с тобой свяжутся</p>
            </div>
            <button class="nav-link btn btn-secondary mx-auto scroll-to-form-btn mb-5" onclick="focusMethod()">
                Заполнить анкету<span class="sr-only">(current)</span></button>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 d-flex bg-dark">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-white">Кто такие KJ-Group</h3>
                <div class="dropdown-divider border-warning"></div>
                <small class="text-white">Водители в службах такси Минска оформленные у одного перевозчика</small><br>
                <small class="text-white">ООО «КиДжей-групп» </small><br>
                <small class="text-white">Юр и почт адрес: 220036, г. Минск, ул. Куприянова 1а, оф. 310.</small>
                <small class="text-white">УНП 193263712</small>
                <small class="text-white">Свидетельство о регистрации выдано 04.06.2019 года. Мингорисполкомом.</small>
            </div>
            <div class="col-md-6" id="contacts">
                <h3 class="text-white">Контакты</h3>
                <div class="dropdown-divider border-warning"></div>
                <small class="text-white">Звони: <a class="text-white" href="tel:+375293917716"> +375 29 391-77-16 </a></small> <img src="assets/telegram.svg" alt="Telegram" class="social-icon"><img src="assets/viber-brands.svg" alt="Viber" class="social-icon"><img src="assets/whatsapp-brands.svg" alt="WhatsApp" class="social-icon"><br>
                <small class="text-white">Присоединяйся к нам в социальных сетях и будь в курсе новостей:</small>
                <ul class="list-group list-group-flush list-unstyled">
                    <li class="text-decoration-none">
                        <a href="https://vk.com/kjgroup" target="_blank" class="text-white"><img src="assets/vk-social-network-logo.svg" alt="vk" class="social-icon"> vk.com/kjgroup</a>
                    </li>
                    <li >
                        <a href="https://web.facebook.com/kj.group.taxi" target="_blank" class="text-white"><img src="assets/facebook-square-brands.svg" alt="facebook" class="social-icon"> facebook.com/kj.group.taxi</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/kj.group_taxi/" target="_blank" class="text-white"><img src="assets/instagram.svg" alt="instagram" class="social-icon"> @kj.group_tax</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 mt-5">
                <a href="https://www.freepik.com/free-photos-vectors/business" target="_blank" class="text-dark">Business vector created by macrovector_official - www.freepik.com</a>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Slick slider JS with the jsDelivr CDN -->
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- Custom JS -->
<script src="js/common.js"></script>
</body>
</html>