.card-title{
  @include media-breakpoint-down(sm) {
    font-size: 1.0rem;
  }
}
.card-deck .card {
  @include media-breakpoint-down(sm) {
    margin: 8px;
  }
}
.slick-prev:before, .slick-next:before {
  color: $black-color;
}
.minh-232{
  min-height: 232px;
}
.card-text {
  @include media-breakpoint-down(sm) {
    font-size: .8rem;
  }
}