<section class="container-fluid screen-profit" id="conditions">
    <div class="row">
        <h2 class="mx-auto text-center text-white mb-5 mt-5">Зачем нужны курсы для водителей такси в Минске?</h2>
    </div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <ul class="list-unstyled d-flex flex-wrap justify-content-between f-basis-achiev">
              <li class="d-flex flex-wrap mb-5">
                  <div class="media-body">
                      <h3 class="mt-0 mb-1 text-warning">Опытные преподователи</h3>
                      <p class="text-white">Специалисты с огромным практическим опытом, умением быстро найти подход к учащемуся и подобрать самую эффективную учебную программу, сочетающую в себе теорию с практикой. <br> Знакомство с особенностями организации службы такси.</p>
                  </div>
              </li>
              <li class="d-flex flex-wrap mb-5">
                  <div class="media-body">
                      <h3 class="mt-0 mb-1 text-warning">Юридическая помощь</h3>
                      <p class="text-white">Актуальные вопросы трудового права, касающиеся организации и выполнения перевозок пассажиров автомобилями-такси, включая существенные условия труда и оплаты, права и обязанности нанимателя, а также способы обеспечения соблюдения прав водителя, работающего по найму в такси.</p>
                  </div>
              </li>
              <li class="d-flex flex-wrap mb-5">
                  <div class="media-body">
                      <h3 class="mt-0 mb-1 text-warning">Психология общения</h3>
                      <p class="text-white">Знания необходимые для поддержания психологического комфорта во время работы, они помогут избегать конфликтных ситуаций и пресекать возникающие конфликты с пассажирами. Знания тонкостей обслуживания позволяет привлечь новых пассажиров и увеличивать количество постоянных клиентов</p>
                  </div>
              </li>
          
              <li class="d-flex flex-wrap mb-5">
                  <div class="media-body">
                      <h3 class="mt-0 mb-1 text-warning">Организация работы</h3>
                      <p class="text-white">Порядок контроля на линии контролирующими органами. Виды и пределы ответственности водителя такси в случаях не соблюдения правил автомобильных перевозок или при ненадлежащем исполнении трудовых обязанностей. <br> Виды и порядок страхования и прохождения периодических и предрейсовых осмотров</p>
                  </div>
              </li>
              
          </ul>
      </div>
  </div>
</div>
</section>