<div class="container-fluid screen-profit" id="conditions">
    <div class="row">
        <h2 class="mx-auto text-center text-white mb-5 mt-5">Выгодня сделка — комфортные условия!</h2>
    </div>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <ul class="list-unstyled">
              <li class="d-flex flex-wrap mb-5">
                  <img width="150" height="150" src="assets/fontawesome/sticky-note-regular.svg" class="mr-3 col-md-3" alt="sticker">
                  <div class="media-body col-md-9">
                      <h3 class="mt-0 mb-1 text-warning">Бесплатная оклейка авто</h3>
                      <p class="text-white">Наша компания не только поможет выбрать тип оклейки вашего автомобиля, но и полностью возместит ее стоимость.</p>
                  </div>
              </li>
              <li class="d-flex flex-wrap mb-5">
                  <img width="150" height="150" src="assets/fontawesome/id-card-regular.svg" class="mr-3 col-md-3" alt="document">
                  <div class="media-body col-md-9">
                      <h3 class="mt-0 mb-1 text-warning">Официальное оформление</h3>
                      <p class="text-white">Только в нашей компании вы получаете официальное трудоустройство и Декрет президента №1 вас не коснется. </p>
                  </div>
              </li>
              <li class="d-flex flex-wrap mb-5">
                  <img width="150" height="150" src="assets/fontawesome/hands-helping-solid.svg" class="mr-3 col-md-3" alt="help">
                  <div class="media-body col-md-9">
                      <h3 class="mt-0 mb-1 text-warning">Помощь от опытных водителей</h3>
                      <p class="text-white">В нашей компании работают опытные водители, которые круглосуточно помогут с форс-мажорной ситуацией. Вливайся в команду!</p>
                  </div>
              </li>
          </ul>
      </div>
      <div class="col-md-6">
          <ul class="list-unstyled">
              <li class="d-flex flex-wrap mb-5">
                  <img width="150" height="150" src="assets/fontawesome/search-dollar-solid.svg" class="mr-3 col-md-3" alt="search-dollar">
                  <div class="media-body col-md-9">
                      <h3 class="mt-0 mb-1 text-warning">Выгодные условия</h3>
                      <p class="text-white">Самые лучшие условия в городе. 50 % скидка на мойку вашего автомобиля. Никаких скрытых платежей и штрафов, все прозрачно и честно, мы ценим наших водителей. Наша компания является официальным партнером Яндекс.Такси, что обеспечивает минимальные комиссии.</p>
                  </div>
              </li>
              <li class="d-flex flex-wrap mb-5">
                  <img width="150" height="150" src="assets/fontawesome/wallet-solid.svg" class="mr-3 col-md-3" alt="wallet">
                  <div class="media-body col-md-9">
                      <h3 class="mt-0 mb-1 text-warning">Без дополнительных вложений</h3>
                      <p class="text-white">Наша компания предоставляет все необходимое оборудование для работы в такси. С вашей стороны абсолютно никаких лишних вложений. Все затраты на себя берет компания.</p>
                  </div>
              </li>
              <li class="d-flex flex-wrap mb-5">
                  <img width="150" height="150" src="assets/fontawesome/comments-dollar-solid.svg" class="mr-3 col-md-3" alt="comments-dollar">
                  <div class="media-body col-md-9">
                      <h3 class="mt-0 mb-1 text-warning">Бонусы и акции</h3>
                      <p class="text-white">В нашей компании предоставляется бонус в размере 50 рублей за приведенного друга. А так же много приятных выплат на значимые для вас даты. Так же каждые полгода проводится розыгрыш для водителей, призы вас приятно удивят.</p>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>
</div>