<section class="container-fluid bg-white screen-questions">
  <div class="row">
      <h2 class="mx-auto text-center mb-5 mt-5">Ответы на вопросы</h2>
  </div>
<div class="container">
  <div class="row">
      <div class="card mb-3 col-md-12">
          <div class="row no-gutters">
              <div class="col-md-3 d-flex justify-content-center align-items-start">
                  <img src="assets/earnings.svg" class="card-img  p-4" alt="...">
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <h5 class="card-title">Сколько можно заработать водителем в Минске?</h5>
                      <p class="card-text">Заработок водителем такси зависит сугубо от вас и ваших трудозатрат. Средний заработок в месяц составляет порядка 1500 рублей.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card mb-3 col-md-12">
          <div class="row no-gutters">
              <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                  <img src="assets/taxes.svg" class="card-img  p-4" alt="...">
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <h5 class="card-title">Как считать и платить налоги?</h5>
                      <p class="card-text">Вам не нужно думать об уплате налогов, все на себя берет наша компания. Все платежи фиксированы и не увеличиваются.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card mb-3 col-md-12">
          <div class="row no-gutters">
              <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                  <img src="assets/taxi-car.svg" class="card-img  p-4" alt="...">
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <h5 class="card-title">Какой нужен автомобиль для работы в такси?</h5>
                      <p class="card-text">Требования к автомобилю просты: от 2000 года выпуска, хорошее состояние, 4 или 5 дверей. Машины старше 2000 года рассматриваются в индивидуальном порядке.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card mb-3 col-md-12">
          <div class="row no-gutters">
              <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                  <img src="assets/choose-service.svg" class="card-img  p-4" alt="...">
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <h5 class="card-title">Как выбрать службу такси?</h5>
                      <p class="card-text">Если вы затрудняетесь с выбором службы такси, наши профессионалы вам помогут определится, исходя из ваших пожеланий.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>