<section class="container-fluid screen-drivers">
  <div class="row">
    <h2 class="mx-auto text-center text-white mb-5 mt-5">Водители работающие с KJ-Group — наша команда!</h2>
  </div>
  <div class="container">
    <div class="row pb-5">
      <div class="col-md-6">
        <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/man1.jpg" class="card-img p-4" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Даниэль Моралес</h5>
                <p class="card-text">Бросил работу доставщика пиццы, ради того чтобы осуществить
                  свою давнюю мечту — стать водителем такси — Peugeot 406, способного
                  развивать
                  бешеную скорость. </p>
                <p class="card-text">
                  <small class="text-muted">Сами Насери, "Такси"</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/man2.jpg" class="card-img p-4" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Трэвис Бикл</h5>
                <p class="card-text">Одинокий 26-летний мужчина, служил в морской пехоте.
                  Страдая от
                  хронической бессонницы, устраилс работать ночным таксистом в Нью-Йорке.</p>
                <p class="card-text">
                  <small class="text-muted">Роберт Де Ниро, "Таксист"</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/man3.jpg" class="card-img p-4" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Корбен Даллас</h5>
                <p class="card-text">Увяз в проблемах своей личной жизни и финансовых
                  неурядицах.</p>
                <p class="card-text">
                  <small class="text-muted">Брюс Уиллис, "Пятый элемент"</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/man4.jpg" class="card-img p-4" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Лёлик</h5>
                <p class="card-text">Лёлик под видом таксиста перехватывает Горбункова и везёт
                  его
                  якобы в Дубровку, куда тот собрался к жене и детям.</p>
                <p class="card-text">
                  <small class="text-muted">Анатолий Папанов, "Бриллиантовая рука"</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-dark text-white" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="assets/man5.jpg" class="card-img p-4" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Анфиса Чехова</h5>
                <p class="card-text">Не сильно ориентируюсь по городу. Поэтому мой первый вопрос
                  к
                  пассажирам будет: «Дорогу покажешь?»</p>
                <p class="card-text">
                  <small class="text-muted">Анфиса Чехова в День такси</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>