<section class="container-fluid screen-first">
  <!--<div class="fade-img position-absolute w-100"></div>-->
  <div class="row align-items-center justify-content-center flex-column position-relative">
      <h1 class="mt-md-6-sm-8 text-center p-2 text-warning">Зарабатывай в такси от 1200 рублей в месяц!</h1>
      <a class="text-white font-weight-bold main-phone p-2 " href="tel:+375293917716"> +375 29 391-77-16 </a>
      <p class="lead text-white text-center p-2">Звони! Получишь помощь с оформлением и скоро начнёшь
          зарабатывать хорошие деньги!</p>
      <img class="screen-first__taxi-car w-100 mb-2 p-2" src="assets/taxi-car.png"
          alt="желтый автомобиль такси">
  </div>
</section>