<footer class="footer mt-auto py-3 d-flex bg-dark">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-white">Кто такие KJ-Group</h3>
        <div class="dropdown-divider border-warning"></div>
        <small class="text-white">Водители в службах такси Минска оформленные у одного
          перевозчика</small><br>
        <small class="text-white">ООО «КиДжей-групп» </small><br>
        <small class="text-white">Юр и почт адрес: 220036, г. Минск, ул. Куприянова 1а, оф. 310.</small>
        <small class="text-white">УНП 193263712</small>
        <small class="text-white">Свидетельство о регистрации выдано 04.06.2019 года.
          Мингорисполкомом.</small>
      </div>
      <div class="col-md-6" id="contacts">
        <h3 class="text-white">Контакты</h3>
        <div class="dropdown-divider border-warning"></div>
        <small class="text-white">Звони: <a class="text-white" href="tel:+375293917716"> +375 29 391-77-16
          </a></small> <img src="assets/telegram.svg" alt="Telegram" class="social-icon"><img
          src="assets/viber-brands.svg" alt="Viber" class="social-icon"><img src="assets/whatsapp-brands.svg"
          alt="WhatsApp" class="social-icon"><br>
        <small class="text-white">Присоединяйся к нам в социальных сетях и будь в курсе новостей:</small>
        <ul class="list-group list-group-flush list-unstyled">
          <li class="text-decoration-none">
            <a href="https://vk.com/kjgroup" target="_blank" class="text-white"><img
                src="assets/vk-social-network-logo.svg" alt="vk" class="social-icon">
              vk.com/kjgroup</a>
          </li>
          <li>
            <a href="https://web.facebook.com/kj.group.taxi" target="_blank" class="text-white"><img
                src="assets/facebook-square-brands.svg" alt="facebook" class="social-icon">
              facebook.com/kj.group.taxi</a>
          </li>
          <li>
            <a href="https://www.instagram.com/kj.group_taxi/" target="_blank" class="text-white"><img
                src="assets/instagram.svg" alt="instagram" class="social-icon"> @kj.group_tax</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 mt-5">
        <a href="https://www.freepik.com/free-photos-vectors/business" target="_blank" class="text-dark">Business vector
          created by macrovector_official - www.freepik.com</a>
      </div>
    </div>
  </div>
</footer>