<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Оформление на службы такси города Минска через официального перевозчика">
  <meta name="keywords" content="такси, работа, вакансия, перевозчик, 135, 7900, 7788, яндекс, uber">
  <meta name="author" content="KJ-TAXI">
  <meta name="theme-color" content="#000000">
  <meta name="yandex-verification" content="347be314d015d4e5" />

  <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <!-- Slick slider style with the jsDelivr CDN -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="css/style.rejected.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->

  <title>Работа водителем такси в Минске</title>

</head>