<section class="container-fluid bg-white screen-questions">
    <div class="row">
        <h2 class="mx-auto text-center mb-5 mt-5">В программу обучения входят темы</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="card mb-3 col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-3 d-flex justify-content-center align-items-start">
                        <img src="assets/earnings.svg" class="card-img  p-4" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Организация перевозок пассажиров автомобилями-такси</h5>
                            <ul class="card-text">
                                <li>Нормативно-правовая база деятельности автомобильного транспорта в Республике
                                    Беларусь</li>
                                <li>Правила перевозок пассажиров автомобилями-такси</li>
                                <li>Основы этики при перевозках пассажиров</li>
                                <li>Система страхования при перевозках пассажиров</li>
                                <li>Система контроля за работой автомобилей-такси на линии</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                        <img src="assets/taxes.svg" class="card-img  p-4" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Автомобили-такси и их оборудование:</h5>
                            <ul class="card-text">
                                <li>Требования к автомобилям-такси</li>
                                <li>Устройство и эксплуатация таксометров</li>
                                <li>Средства оперативной связи при таксомоторных перевозках</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-3 p-4 d-flex justify-content-center align-items-start">
                        <img src="assets/taxi-car.svg" class="card-img  p-4" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Безопасность дорожного движения:</h5>
                            <ul class="card-text">
                                <li>Основные положения правил дорожного движения Республики Беларусь</li>
                                <li>Маршрутное ориентирование в городе</li>
                                <li>Правила поведения водителей в аварийных ситуациях</li>
                                <li>Условия труда и отдыха водителей</li>
                                <li>По окончании обучения выдается Свидетельство водителя автомобиля-такси
                                    государственного образца</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Образцы сведетельств об окончании курсов -->
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/doc1.jpg" class="img-doc w-100" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets/doc2.jpg" class="img-doc w-100" alt="">
                </div>
            </div>

            <div class="row">
                <h2 class="mx-auto text-center mb-5 mt-5">СПИСОК НЕОБХОДИМЫХ ДОКУМЕНТОВ</h2>
                <ul>
                    <li>Документ, удостоверяющий личность (паспорт)</li>
                    <li>Водительские права либо копия трудовой книжки, указывающей водительский стаж управления автомобилем</li>
                </ul>
                <p>Оплатить школу такси можно на месте в офисе</p>
            </div>
        </div>
    </div>
</section>