<div class="container-fluid bg-white pb-5" id="services">
    <div class="row flex-column align-items-center">
        <h2 class="mt-5 mb-5 text-center">Выбор службы такси за тобой</h2>
        <div class="container">
            <!-- Слайдер со службами такси -->
            <div class="carousel_taxi-services w-100 card-deck">
                <div class="card border-0">
                    <img src="assets/logo/stolica.jpg" class="card-img-top" alt="stolica">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Основана в 2002 году. Более 15 000 заказов в день. Лояльные пассажиры.
                            Удобная программа приема заказов.<br><b>Минимальная поездка 4,50 BYN</b></p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/almaz.jpg" class="card-img-top" alt="almaz">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Основана в 2010 году. Сервис широко разрекламирован на ведущих телеканалах,
                            радиостанциях и билбордах.<br><b>Минимальная поездка 4,49 BYN</b></p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/comandir.jpg" class="card-img-top" alt="comandir">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Основана в 2013 году. Уверено завоевала города-спутники, служба работает в
                            Дзержинске, Фаниполе, Лиде, Столбцах и т.д. Удобное рабочее приложение.<br><b>Минимальная
                                поездка 3,50 BYN</b></p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/yandex-taxi.jpg" class="card-img-top" alt="yandex-taxi">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Основана в 2011 году. Более 40 000 заказов в день. Самая динамично
                            развиваемая служба. Разные уровни заказов от Эконома до Бизнеса.<br><b>Минимальная поездка
                                3,30 BYN</b></p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/yandex-gruz.jpg" class="card-img-top" alt="yandex gruzovoi">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Новый сервис — Яндекс.Грузовой. <br /> Требования:<br /> Автомобиль не
                            старше 2005 года.<br /> Грузовой отсек: от 260х160х150 см.<br /> Грузоподъёмность: до 3,5
                            тонн.<br /> Минимум два пассажирских места.<br /> <b>Бонусы и скидки первым водителям.</b>
                        </p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/uber.jpg" class="card-img-top" alt="uber">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Основана в 2009 году. Компания работает более чем в 76 странах и 596
                            городах мира. С 2017 года Яндекс.Такси и Uber подписали соглашение об объединении бизнеса и
                            сервисов по онлайн-заказу такси в России, Азербайджане, Армении, Белоруссии, Грузии и
                            Казахстане.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/euro-taxi.jpg" class="card-img-top" alt="euro-taxi">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Основана в 2018 году и успешно набирает обороты. «ЕвроТакси» — это высокий
                            уровень сервиса, безопасности и комфорта.<br><b>Минимальная поездка 4,50 BYN</b></p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/v10.jpg" class="card-img-top" alt="v desyatku">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Молодая и весьма активно развиваемая служба резво захватила город. Сервис
                            автоперевозок «В ДЕСЯТКУ» предлагает всегда, открытый и заранее известный тариф.<br><b>В
                                любую точку города – 10 BYN</b></p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/armi.jpg" class="card-img-top" alt="armi">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Новый сервис в городе. Больше чем служба такси. Доставка, трезвый водитель,
                            такси, трансфер, помощь на дороге. Активно развивается и быстро набирает известность среди
                            пассажиров.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="assets/logo/7220.jpg" class="card-img-top" alt="7220">
                    <div class="card-body bg-primary d-flex flex-column align-items-center minh-232">
                        <p class="card-text">Лидер областных такси с 2014 года! Набирает популярность в Минске и обеспечивает постоянное количество
                            пассажиров. Самая распространённая служба такси в республике. 
                             <br><b>Минимальная поездка – 5 BYN</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>