<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mx-auto text-center mb-5 mt-5 text-dark">Присоединяйся к KJ-Group и получи лучшую
        поддержку в
        новой работе!</h2>
      <p class="text-center mb-5">Уже работаешь в другой службе такси, но хочешь поменять? Подключим тебя
        куда пожелаешь. Далее выбор за тобой, работать на личном автомобиле или на автомобиле компании.
        Подключение производится дистанционно, просто заполняй анкету и с тобой свяжутся</p>
    </div>
    <button class="nav-link btn btn-secondary mx-auto scroll-to-form-btn mb-5" onclick="focusMethod()">
      Заполнить анкету<span class="sr-only">(current)</span></button>
  </div>
</section>