<h2 class="text-uppercase bg-yellow-md">Лучшие условия в городе</h2>
<h3 class="text-uppercase bg-yellow-md">Заполни анкету и приступай к работе</h3>
<p>Достойный заработок, где ты решаешь сколько ты можешь заработать.
  Всегда чёткая и понятная зависимость вложенных усилий и количества полученных денег.
  Никаких испытательных сроков и обучающих курсов — садишся за руль и начинаешь зарабатывать!
  Все бумажные работы, договора и налоги берёт на себя перевозчик, тебе остаётся только возить
  людей и
  считать деньги.
  <br> Заполняй анкету и твой график работы будет зависеть только от тебя! </p>