html {
  @extend %h-100;
}
body {
  @extend %h-100;
  background-color: $primary-color;
}
.btn-primary {
  @include btn-primary;
}
.btn-secondary {
  @include btn-secondary;
}
.bg-dark {
  background-color: $black-color!important;
}
.bg-yellow-md {
  @include media-breakpoint-down(md) {
    background-color: $primary-color;
  }
}
/* Remove outline on the forms and links */
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
h1 {
  color: $primary-color;
  @include media-breakpoint-down(sm) {
    font-size: x-large;
  }
}
.first-screen {
  background-image: url(../assets/minsk.jpg);
  height: 451px;
}
//.fade-img {
//  background-color: $black-color;
//  height: 100%;
//  left: 0;
//  top: 0;
//  opacity: 0.5;
//}
.main-phone {
  font-size: xx-large;
}
.first-screen__taxi-car {
  max-width: 723px;
}
.mt-md-6-sm-8 {
  margin-top: 6rem!important;
  @include media-breakpoint-down(sm) {
    margin-top: 8rem!important;
  }
}
.mt-12 {
  margin-top: 12rem!important;
}
.mt-8 {
  margin-top: 20rem!important;
}
.mt-md-20-sm-7 {
  margin-top: 20rem!important;
  @include media-breakpoint-down(sm) {
    margin-top: 7rem!important;
  }
}
