html {
  @extend %h-100;
}
body {
  @extend %h-100;
  background-color: $primary-color;
}
.btn-primary {
  @include btn-primary;
}
.btn-secondary {
  @include btn-secondary;
}
.bg-primary{
  background-color: $primary-color!important;
}
.bg-dark {
  background-color: $black-color!important;
}
.bg-yellow-md {
  @include media-breakpoint-down(md) {
    background-color: $primary-color;
  }
}
.text-warning{
  color: $primary-color!important;
}
.text-dark {
  color: $black-color!important;
}
/* Remove outline on the forms and links */
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
h1 {
  @include media-breakpoint-down(sm) {
    font-size: x-large;
  }
}
.screen-first {
  background-image: url(../assets/minsk.jpg);
  height: 451px;
}
.screen-profit{
   background-image: url(../assets/profit.jpg);
   background-size: cover;
   background-position: center;
 }
.screen-drivers{
  background-image: url(../assets/drivers.jpg);
  background-size: cover;
  background-position: center;
}
.main-phone {
  font-size: xx-large;
}
.screen-first__taxi-car {
  max-width: 723px;
}
.mt-6 {
  margin-top: 6rem;
}
.mt-md-6-sm-8 {
  margin-top: 6rem;
  @include media-breakpoint-down(sm) {
    margin-top: 8rem;
  }
}
.mt-12 {
  margin-top: 12rem;
}
.mt-8 {
  margin-top: 20rem;
}
.mt-md-20-sm-7 {
  margin-top: 20rem;
  @include media-breakpoint-down(sm) {
    margin-top: 7rem;
  }
}
.pt-md-7-sm-4{
  padding-top: 7rem;
  @include media-breakpoint-down(sm) {
    padding-top: 1.5rem;
  }
}
.pt-md-4-sm-1-5{
  padding-top: 4rem;
  @include media-breakpoint-down(sm) {
    padding-top: 1.5rem;
  }
}
.screen-questions{
  .card-img{
    width:200px!important;
  }
}
.social-icon{
  width: 20px;
}
legend{
  margin-bottom: 0rem;
}