@mixin main-header ($margin: 30px, $color: white, $bg-color: black) {
  text-transform: uppercase;
  color: $color;
  background-color: $bg-color;
  margin: $margin;
}
@mixin btn-primary ($color: $white-color, $background-color: $primary-color, $border-color: $secondary-color ) {
  color: $black-color!important;
  background-color: $primary-color;
  border-color: $secondary-color;
  border-radius: 2rem;
  font-weight: 600;
  &:hover {
    background-color: $primary-color;
    border-color: $secondary-color;
    box-shadow: 0 0 0 0.2rem $primary-color-light;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $primary-color;
    border-color: $secondary-color;
  }
  &:focus {
    background-color: $primary-color;
    border-color: $secondary-color;
    box-shadow: 0 0 0 0.2rem $primary-color-light;
    }
}
@mixin btn-secondary ($color: $white-color, $background-color: $black-color, $border-color: $black-color ) {
  color: $white-color!important;
  background-color: $black-color;
  border-color: $black-color;
  border-radius: 0.25rem;
  font-weight: 600;
  &:hover {
    background-color: $black-color;
    border-color: $black-color;
    box-shadow: 0 0 0 0.2rem $primary-color-light;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $black-color;
    border-color: $black-color;
  }
  &:focus {
    background-color: $black-color;
    border-color: $black-color;
    box-shadow: 0 0 0 0.2rem $primary-color-light;
  }
}
@mixin bg-dark-op() {
  background-color: rgba( $black-color, .8 )!important;
}