//https://colorscheme.ru/#1c11TsLu-w0w0
$primary-color: #F7C119;
$primary-color-light: #FBDD7F;
$secondary-color: #A17B08;
$secondary-colo-light: #B99B3C;
$black-color: #000000;
$white-color: #FFFFFF;